.nolightbox-loading-image {
  background: url('../images/loader.gif') no-repeat center bottom;
  height: 55px; /* provide some padding for the text to appear above the spinner */
}

.nolightbox-loading-text {
  /* customize the look of the text */
}

.nolightbox-closebutton {
  width: 30px;
  height: 30px;
  background: url('../images/close.png');
}
